body {
    background-color: #c999c9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    margin: 0 auto;
    /* border: thin solid green; */
    width: 1600px;
    height: 1200px;
}

.encabezado {
    width: 100%;
    height: 30%;
    /* border: thin solid red; */
    float: left;
}

.logo {
    border-top-left-radius: 50px;
    padding-top: 20px;
    background-color: #f1e5f1;

    float: left;
    width: 29.8%;
    height: 95%;
    text-align: center;
}

.titulo {
    border-top-right-radius: 50px;
    padding-top: 10px;
    width: 70%;
    height: 99%;
    float: left;
    background-color: #933293;
    text-align: center;
}


#titulo {
    width: 80%;
}

#menu_idioma {
    margin-top: 300px;
    display: inline-block;
    position: relative;
}

#menu_idioma a{
    text-decoration: none;
    color:white;
    
}
#menu_idioma a:hover{
    color:purple;
}
.idioma {
    width: 25px;
    height: 25px;
}


/*-------------------NAVEGACION------------------------------------*/

.menuNavegacion {
    float: left;
    width: 100%;
    height: 4%;
    /* border: thin solid purple; */
}

.navegacion {
    display: inline;
}

.botonMenu {
    width: 315px;
    height: 50px;
    background-color: #3c003c;
    color: #ffffff;
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.menuAbajo {
    position: relative;
    display: inline-block;
}

.menuAbajo-contenido {
    display: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 20px;
    position: absolute;
    background-color: #3c003c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menuAbajo-contenido a {
    color: #F1E5F1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menuAbajo-contenido a:hover {
    background-color: #F1E5F1;
    color: #3c003c;
    border-radius: 30px;
}

.menuAbajo:hover .menuAbajo-contenido {
    display: block;
}

.menuAbajo:hover .botonMenu {
    background-color: #FFEDFF;
    color: #3c003c;
}

/*-------------------------------------------------------*/


.contenido {
    width: 100%;
    height: 50%;
    /* border: thin solid blue; */
    float: left;
}

.pie {
    width: 100%;
    height: 20%;
    color:#FFEDFF;
    background-color: #933293;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    float: left;
}



.contacto{
    padding-top: 20px;
    text-align: center;
    padding-left: 30px;
    width: 25%;
    display: block;
    float:left;
}

.mapa{
    text-align: center;
    padding-top: 15px;
    width: 43%;
    display: block;
    float:left;
}

.telefono{
    padding-top: 20px;
    text-align: center;
    width: 25%;
    display: block;
    float:left;
}


.telefono img{
    padding-right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#enlace{
    overflow-x: hidden;
    overflow-y: hidden;
}